td{
    border: solid;
    border-width: 2px;
}
.logo{
    max-width: 100px;
}

body{
    margin: 0 auto;
    margin-top: -16px;
    text-align: center;
}
table{
    margin: 0;
    display: block;
    text-align: center;
}